[Desktop Entry]
Name=Termit
Name[ru]=Termit
Type=Application
Exec=termit
Icon=utilities-terminal
Categories=Utility;TerminalEmulator;GTK
Comment=Lightweight terminal emulator
Comment[ru]=Эмулятор терминала
GenericName=Terminal emulator
GenericName[ru]=Эмулятор терминала
Terminal=false

