# ini-like configuration file for termit
[termit]
#default_encoding=KOI8-R
#default_tab_name=Terminal
default_font=Monospace 10
scrollback_lines=4096
word_chars="-AA-Za-z0-9,./?%&#:_~"
transparent_background=true
transparent_saturation=0,4

# list of available encodings
#encodings=UTF-8;KOI8-R;CP866;CP1251

# default COLSxROWS
geometry=80x24

# list of bookmarks
# format: bookmark_name:path
[bookmarks]
home=$HOME
src=$HOME/src
#work=$HOME/work

