# termit.cfg example
[termit]
#default_encoding=KOI8-R
default_tab_name=Terminal
default_font=Monospace 10
scrollback_lines=4096
word_chars="-AA-Za-z0-9,./?%&#:_~"

# to enable transparency uncomment both lines below
#transparent_background=true
#transparent_saturation=0,4

# hide tabbar when only one tab is opened
hide_single_tab=false

# show scrollbar by default
show_scrollbar=true

# list of available encodings
#encodings=UTF-8;KOI8-R;CP866;CP1251

# default COLSxROWS
geometry=80x24

# list of bookmarks
[bookmarks]
home=$HOME
src=$HOME/src
coding=$HOME/coding
tmp=$HOME/tmp

# default keybindings
[keybindings]
next_tab=Alt-Right
prev_tab=Alt-Left
open_tab=Ctrl-t
close_tab=Ctrl-w
copy=Ctrl-Insert
paste=Shift-Insert

